.div-nombrehome {
    height: 34px;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    color: #06007E;
    font-weight: 400!important;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: absolute;
    width: 100%;
    bottom: 6%;

}

@media only screen and (max-width: 600px){
    .destacados_home {
        margin-top: 6%;
    }

    .box-cap-destacados {
        position: absolute!important;
        left: 10%;
        top: 37%;
        width: 80%;
        display: table;
    }
}

.boton_home button{
    height: 41px!important;
    width: 170px;
    font-weight: 500;
    border-radius: 3px!important;
}

.boton_home{
}

