.bloque{
    margin-top: 6.5%;
}

.categorias{
    color: #A1A1A1;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7%;
}

.activa_categoria{
    color: #A1A1A1;
    font-size: 18px;
    font-weight: 600;
}

.activa_categoria img{
    background: url(/img/categoria/fondocategoria.png);   
    margin-bottom: 10%;
}

.imagen_categoria{
    margin-bottom: 10%;
}

.productos{
    color: #A1A1A1;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7%;   
}

.efecto:hover {
    opacity: 1;
    transition: 1s;
}

.efecto {
    position: absolute;
    opacity: 0;
    background-color: rgba(236, 236, 236, 0.75);
    width: 202px;
    height: 202px;
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
}

.central {
    padding: inherit;
    display: inline-block;
    position: absolute!important;
    color: #06007E!important;
    width: 45px;
    height: 45px;
    top: 60%!important;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.efecto i {
    font-weight: bold;
    font-size: 48px;
}

.scapacidad{
    color: #646464;
    font-size: 12px;
}

.snombre{
    color: #06007E;
    font-size: 17px;
}

.div-product{
    margin-bottom: 24%;
}

.s2capacidad{
    font-size: 16px;
    color: #009688;
}

.filtradopor{
    color: #A1A1A1;
    font-size: 18px;
    font-weight: 600; 
}